@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=IBM+Plex+Sans:wght@500;700&display=swap");

// Variables

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// body {
//     font-family: "IBM Plex Sans", sans-serif;
//     font-weight: 500;
//     font-size: 16px;
//     background-color: #f1f2fc;
//     color: #fff;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;

//     @media (max-width: 780px) {
//         height: auto;
//     }
// }

footer {
    background-color: #1e2641;
    padding: 60px;
    max-width: 100%;
    width: 100%;
    border-radius: 15px;


    bottom: 0;

    @media (max-width: 1260px) {
        width: 90%;
    }

    @media (max-width: 780px) {
        margin: 40px auto;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 780px) {
            flex-direction: column;
        }

        .footer-section {
            margin: 0 60px;

            @media (max-width: 960px) {
                margin: 0 30px;
            }

            h3 {
                font-family: "Merriweather", serif;
                font-weight: 700;
                font-size: 14px;
                margin-bottom: 30px;
            }

            ul {
                list-style: none;

                li {
                    margin-bottom: 10px;
                    cursor: pointer;
                }
            }
        }

        .newsletter {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            h3 {
                margin: 30px 0;
                font-family: "IBM Plex Sans", sans-serif;
                font-weight: 500;
                font-size: 16px;
            }

            form {
                display: flex;
                gap: 10px;
                margin-bottom: 50px;

                @media (max-width: 1150px) {
                    flex-direction: column;
                }

                input[type="email"] {
                    max-width: 224px;
                    width: 100%;
                    font-family: "IBM Plex Sans", sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    padding: 10px;
                    border: 2px solid #3a456a;
                    border-radius: 5px;
                    background: #1e2641;
                    color: #fff;
                    outline: none;
                    height: 51px;

                    @media (max-width: 780px) {
                        max-width: unset;
                    }

                    &::placeholder {
                        color: #fff;
                    }
                }

                button {
                    font-family: "IBM Plex Sans", sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                    padding: 0 10px;
                    height: 51px;
                    background-color: #f1f2fc;
                    color: #1e2641;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }

            h4 {
                font-family: "IBM Plex Sans", sans-serif;
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 20px;
            }

            .social-icons {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;

                a,
                a:visited {
                    color: #fff;
                    font-size: 20px;
                    text-decoration: none;

                    .fa-facebook-f,
                    .fa-twitter,
                    .fa-instagram {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 3px;
                        height: 46px;
                        width: 46px;
                    }

                    .fa-facebook-f {
                        background-color: #4c6ea7;
                    }

                    .fa-twitter {
                        background-color: #4297c4;
                    }

                    .fa-instagram {
                        background: linear-gradient(45deg,
                                #ffb73d 0%,
                                #c47067 40%,
                                #9d23e4 100%);
                    }
                }
            }
        }
    }
}