.item {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    border: 1px solid beige;
    margin: 50px;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.item img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.name {
    padding: 10px 0;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(88, 78, 78);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

/* Media query cho thiết bị di động */
@media (max-width: 768px) {
    .item {
        margin: 20px;
    }

    .item img {
        width: 100%;
        /* Chiếm toàn bộ chiều rộng màn hình */
        height: auto;
        /* Tự động điều chỉnh chiều cao */
    }

    .name {
        font-size: 1em;
        /* Giảm kích thước font chữ */
        padding: 5px;
    }
}