:root {
    --gradient: linear-gradient(45deg, #ff3366, #ff6b6b, #4834d4, #686de0);
    --glass-bg: rgba(255, 255, 255, 0.05);
    --border: 1px solid rgba(255, 255, 255, 0.1);
    --shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.container_item {
    width: 100%;
    border-radius: 10px;
    display: grid;
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 30px;
    margin-bottom: 200px;
    background: rgb(207, 200, 200);
    box-shadow: var(--shadow);
}