:root {
    --gradient: linear-gradient(45deg, #ff3366, #ff6b6b, #4834d4, #686de0);
    --glass-bg: rgba(255, 255, 255, 0.05);
    --border: 1px solid rgba(255, 255, 255, 0.1);
    --shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.container_item {
    width: 80%;
    border-radius: 10px;
    display: grid;
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 30px;
    margin-bottom: 200px;
    background: rgb(207, 200, 200);
    box-shadow: var(--shadow);
    min-height: 40vh;
}

@media (max-width: 768px) {
    .container_item {
        width: 100%;
        grid-template-rows: repeat(4, 1fr);
        /* Tăng số hàng để hiển thị các mục theo chiều dọc */
        grid-template-columns: 1fr;
        /* Chuyển thành một cột */
        padding: 10px;
        /* Giảm padding cho màn hình nhỏ hơn */
        margin-bottom: 50px;
        /* Giảm margin-bottom cho màn hình nhỏ hơn */
    }
}